#heading{
    
    background-color: black;
    
    border: 5px solid yellowgreen;
    
    height: 70px;
    
    width:1000px;
    
    color: white;
    
    font-family: 'Times New Roman', Times, serif;

    font-size: 150%;

    text-align: center;

    line-height: 70px;


}

img
{   height: 200px;
    width: 200px;
    border-radius: 30%;
}